@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,900&family=Roboto:wght@300;400;500&display=swap');
* {
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.logo {
    margin-left: 50px;
    margin-top: 50px;
}

.kanan {
    background-image: url("/Background/background\ sign-up.png");
    background-size: contain;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.a {
    position: absolute;
    width: 394px;
    height: 44px;
    left: 350px;
    top: 450px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.success {
    margin-left: 340px;
    padding-top: 100px;
}

.kiri {
    width: 100%;
    z-index: 2;
}

.button {
    position: absolute;
    padding: 16px 68px;
    border-radius: 5px;
    display: inline-block;
    top: 68vh;
    left: 58vh;
    text-decoration: none;
    background-color: #ffcc5c;
    font-family: "Roboto", sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {
    background-color: #feb619;
}

.lanjut {
    text-decoration: none;
    color: white;
    font-size: 16px;
}